<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Working\Projects\Triangle\IntegrationTest\App_Data\Triangle-UnitTest.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=Triangle-UnitTest;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
